*{
    padding: 0;
    margin: 0;
}

.container{
    color: skyblue;
    background-color: black;
    text-align: center;
    text-shadow: 10px;
    font-size: 25px;
}
.btn{
    color:yellow;
    background-color: black;
    font-size: 15px;
    text-align: center;
}